body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}
#login-area{
    margin-top: 10%;    
    padding: 0 20% 0 20%;
    display: none;
}
.login-wrap{
    box-shadow: 5px 5px 10px gray;
    border-radius: 10px;
    padding: 10px;
}
#transaction-area{
    display: block;
    padding: 15% 10%;
}
.tr-style{
    border-radius: 10px;
    color: white;
    padding: 30px 0px;
    margin: 0px 15px;
}
.tr-deposite{
    
    background-color: slateblue;
}
.tr-withdraw{
    background-color: orangered;
}
.tr-balance{
    background-color: seagreen;
}
.tr-box{
    margin-right: 20px;
}
.tr-wrap{
    margin-right: 10px;
}
.display-section{
    margin-bottom: 120px;
}